$accent: #F7654A;
$dark: #404149;
$text-gray: #999999;
$white: #ffffff;
$bg-color: #F7F7F7;
$black: #000000;
$gray: #E5E5E5;

:root {
  font-size: calc(1vw + 0.6em);
  box-sizing: border-box;

  @media screen and (min-width: 1110px){
    font-size: 1em;
  }

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.head {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.head--large {
  font-size: 4rem;

  @media screen and (max-width: 350px) {
    font-size: 3rem;
  }

}

.head--medium {
  font-size: 3rem;
}

.head--middle {
  font-size: 2rem;
}

.head--little {
  font-size: 1.1rem;
  font-weight: 400;
}

.head--accent {
  color: $accent;
}

.head--dark {
  color: $dark;
}

.head--black {
  color: $black;
}

.head--white {
  color: $white;
}

.head--padding-1rem {
  padding: 1rem;
}

.button {
  background-color: $white;
  color: $black;
  padding: 1em 2em;
  border: none;
  @extend .head;
}

.button__icon {
  margin-right: 1em;
}

.media {
  display: flex;
  flex-direction: column;
  padding: 1em;

  color: $text-gray;


  * {
    margin: 0.5rem 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}

.media__img {
  object-fit: cover;
}

.line {
  display: block;
  height: 4px;
  width: 25%;
  background-color: $accent;
}

.menu-toggle{
  height: 50px;
  width: 50px;
  align-self: center;
  position: relative;
  background-color: $accent;
}

.menu-toggle--open {

  &::after, &::before, span {
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 21px;
    position: absolute;
    background: $white;
    margin: 0 auto;
  }

  &::after, &::before {
    content: "";
  }

  &::after{
    bottom: 16px;
  }
  &::before{
    top: 16px;
  }

  span {
    top: 23px;
  }

}

.menu-toggle--close {
  width: initial;
  height: initial;


  &::after {
    content: '\00D7';
    color: $white;
    padding: 1rem;
    font-size: 3rem;
    line-height: 1;
    top: calc(25 - 1rem);
  }

}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  background-color: $black;
}

.wrapper.is-open {
  opacity: .5;
  visibility: visible;
}

.menu-block {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: $accent;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.2s linear;
}

.menu-block.is-open {
  transform: translateX(0);
}

.menu-block__menu {
  list-style: none;

  a {
    display: block;
    color: $white;
    text-decoration: none;
    padding: .5em 5em .5em 1em;
    transition: all 0.2s linear;

    &:hover {
      background-color: darken($accent, 30);
    }

  }

}

.header {
  background: url("../images/dest/Rectangle.png") $gray top left/100% 82.5% no-repeat;
  padding: 1.5em;
}

.header__headings {
  color: $white;
  margin: 8em auto;
}

.header__information {
  background-color: $bg-color;
  font-family: Oswald, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 0 -15px;
  padding: 2em 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


  * {
    margin: 0;
  }

}

.our-projects {
  background-color: $gray;
  padding: 4em 0;
}

.warning {
  background-color: $accent;
  padding: 2em 0;
}

.text-center {
  text-align: center !important;
}
