$accent: #F7654A;
$dark: #404149;
$text-gray: #777777;
$white: #ffffff;
$bg-color: #F7F7F7;
$black: #000000;
$gray: #E5E5E5;

:root {
  font-size: calc(1vw + 0.6em);
  box-sizing: border-box;

  @media screen and (min-width: 1110px){
    font-size: 1em;
  }

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.head {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.head--large {
  font-size: 4rem;

  @media screen and (max-width: 350px) {
    font-size: 3rem;
  }

}

.head--medium {
  font-size: 3rem;
}

.head--middle {
  font-size: 2rem;
}

.head--little {
  font-size: 1.4rem;
  font-weight: 400;
}

.head--accent {
  color: $accent;
}

.head--dark {
  color: $dark;
}

.head--black {
  color: $black;
}

.head--white {
  color: $white;
}

.head--padding-bottom-3rem {
  padding-bottom: 3rem;
}

.head--padding-bottom-2rem {
  padding-bottom: 2rem;
}

.button {
  background-color: $white;
  color: $black;
  padding: 1em 2em;
  border: none;
  transition: all 0.2s linear;
  @extend .head;

  &:hover {
    background-color: darken($white, 10%);
  }

}

.button__icon {
  margin-right: 1em;
}

.media {
  display: flex;
  flex-direction: column;

  color: $text-gray;

  * {
    margin: 0.5rem 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

}

.media__img {
  object-fit: cover;
}

.media__content {
  margin: 0;
}

.media--light {
  background-color: $bg-color;
}

.media--padding {
  padding: 2em;
}

.line {
  display: block;
  height: 4px;
  width: 25%;
  background-color: $accent;
}

.menu-toggle{
  height: 50px;
  width: 50px;
  align-self: center;
  position: relative;
  background-color: $accent;
}

.menu-toggle--open {

  &::after, &::before, span {
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 21px;
    position: absolute;
    background: $white;
    margin: 0 auto;
  }

  &::after, &::before {
    content: "";
  }

  &::after{
    bottom: 16px;
  }
  &::before{
    top: 16px;
  }

  span {
    top: 23px;
  }

}

.menu-toggle--close {
  width: initial;
  height: initial;


  &::after {
    content: '\00D7';
    color: $white;
    padding: 1rem;
    font-size: 3rem;
    line-height: 1;
    top: calc(25 - 1rem);
  }

}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
  background-color: $black;
}

.wrapper.is-open {
  opacity: .5;
  visibility: visible;
}

.menu-block {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: $accent;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.2s linear;
}

.menu-block.is-open {
  transform: translateX(0);
}

.menu-block__menu {
  list-style: none;

  a {
    display: block;
    color: $white;
    text-decoration: none;
    padding: .5em 5em .5em 1em;
    transition: all 0.2s linear;

    &:hover {
      background-color: darken($accent, 30);
    }

  }

}

.header {
  background: url("../images/dest/Rectangle.png") $gray top left/100% 82.5% no-repeat;
  padding: 1.5em;
}

.header__headings {
  color: $white;
  margin: 8em auto;
}

.header__information {
  background-color: $bg-color;
  font-family: Oswald, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 0 -15px;
  padding: 2em 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));


  * {
    margin: 0;
  }

}

.block {
  background-color: $gray;
  padding: 4em 0;
}

.warning {
  background-color: $accent;
  padding: 2em 1em;
}

.warning__button {
  margin-top: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;

  img {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 60px;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  grid-auto-rows: 1fr;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  figure {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  img {
    flex: auto;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    opacity: 0;
    position: absolute;
    background: hsla(1, 100%, 0%, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;

    &:hover {
      opacity: 1;
    }

  }

}

.dropdown {
  padding: .5em;
}

.dropdown.is-open {

  .dropdown__head {

    &::before {
      border-color: transparent transparent transparent $accent;
    }

  }

}

.dropdown__head {
  text-indent: 1.5em;
  padding-bottom: 1em;
  position: relative;

  &::before {
    content: '';
    border: 8px solid transparent;
    border-top-color: $accent;
    position: absolute;
    top: .5em;
    left: 0;
  }

}

.dropdown__drawer {
  color: $text-gray;
  font-weight: 400;
  line-height: 1.4;
  max-width: 740px;
  height: 0;
  overflow: hidden;
  transition: height .2s linear;
}

.text-center {
  text-align: center !important;
}
